<!DOCTYPE html>
<html lang="en">
<head>
    <style>

        #btn-top{
            float:right;
            background:yellowgreen;
            height : 70px;
            width : 150px;
            font-size: 20px;
            color : white; 
        }
        table{
            margin-left:auto; margin-right: auto;
            text-align : center;
        }
        table,th,td{
            border :1px solid #bcbcbc;
            margin-left:auto; margin-right: auto;
            margin:auto;
            text-align : center
        }
        th{
            background: #d68a18;
            height:70px;
            color : white;
            font-size: 18px;
        }
        td{
            background: #ec971894;
            font-weight: bolder;

        }

        .rank{
            width : 50px;
        }
        .thumbnail{
            height :auto;
        }
    
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
        <div>
            <button id='btn-top'>back</button>
            <button id='btn-top' >Quajeo</button>
            <button id='btn-top' >chart</button>
            <button id='btn-top'>home</button>
        </div>
        
    <div style="padding-top:150px;">
        <div>
            <table>
                <thead>
                    <tr>
                        <th class='rank'>Rank</th>
                        <th class='thumbnail'>Thumbnail</th>
                        <th>Title</th>
                        <th>Artist</th>
                        <th>Album</th>
                        <th>Date</th>
                        <th>Watch</th>
                    </tr>
                </thead>
            <%for(var i in result){%>
            <tr>
                <td class='rank'><%=result[i].ranking%></td>
                <td class='thumbnail'>
                    <div style="width: 100px; height:100px;">
                        <img width='100%' height='100%' src=' <%=result[i].thumbnail%>'></td>
                    </div>
                <td><%=result[i].title%></td>
                <td><%=result[i].artist%></td>
                <td><%=result[i].album%></td>
                <td><%=moment(result[i].registdt).format("MM-DD")%></td>
                <td>
                        <div style="width: 100px; height:100px;">
                            <a href='<%=result[i].utube%>'>
                                <image width='100%' height='100%' src='/images/youtube.png'>
                                </image>
                            </a>
                    </div>
                </td>
            </tr>
            <%}%>
        </table>
        </div>
    </div>
</body>
</html>

<script>
function watch_video(title){
    
}
</script>
